body{
  overflow-x:hidden;
}
.container2{
    padding: 30px;
    transform: translate(0%, 0%);
}
.center2{
    transform: translate(13%,0%);
    width: 100%;
}
button{
  background-color: rgb(101, 101, 101);
  height: 100px;
  width: 300px;
  font-weight: bold;
  transform: translate(-35%, 10%);
  font-size: x-large;
}